<div class="container">



	<h1>Preguntas</h1>

	<div class="text-right">
						<%= link_to "Hacer una Pregunta", new_question_path, class: "btn btn-primary"	%>
	</div>

	<div class="row">

				<hr>


				
				    <% @questions.each do |question| %>

				    <div class="col-sm-12 col-md-2">
				    	<p><%=question.answers.length %></p>
				    	<p>Votos</p>
				    	
				    </div >

				    <div class="col-sm-12 col-md-2">
				    	<p><%=question.answers.length %></p>
				    	<p>Respuestas</p>
				    </div>

				    <div class="col-sm-12 col-md-8">
						<p> <%=link_to question.title, question %></p>
						<p> Publicado por <%= question.user.email %> hace <%= time_ago_in_words question.created_at %></p>
					</div>
						
						<hr>

					<%end%>

			

			
		
	</div>
</div>

