<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">

			<h1>Preguntas</h1>
			

			<div class="text-right">
						<%= link_to "Hacer una Pregunta", new_question_path, class: "btn btn-primary"	%>
			</div>
			<hr>

			<% @questions.each do |question| %>
				<h2> <%= question.title %></h2>
				<p> Publicado por <%= question.user.email %></p>

				<%=link_to "Ver detalle",question, class: "btn btn-primary" %>
				<%=link_to "Editar Producto",edit_question_path(question), class: "btn btn-primary" %>



				<hr>

			<%end%>

		<div>
	</div>
</div>
