<div class="container">

	<h2 ><%= @question.title %></h2>
	<br>
	
	<div class="row">

		
			<div class="col-md-2">

					<p>Votos</p>

			</div>


			<div class="col-md-10">


					<p ><%= @question.body%></p>
					<br>


					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Comentarios</h3>
					  </div>
					  <div class="panel-body">
					    <% @question.comments.each do |comment| %>

							<p> <%= comment.body%></p>
							<hr>
						<%end%>

					  </div>
					</div>



						<%= form_for [@question, Comment.new] do |f| %>
								<div class="form-group">
								  <%= f.text_area :body, class: "form-control", placeholder: "Escribe tu comentario"%>
								</div>

								<div class="actions text-right">
								 <%= f.submit "Comentar",  class: "btn btn-primary" %>
								 </div>
						<% end %>


				</div>



			 </div>




			
			<h3><%=@question.answers.length %> Respuesta(s)</h3>
			<hr>

		<div class="row">

			<div class="col-md-2">

					<p>Votos</p>

			</div>

			<div class="col-md-10">

						<% @question.answers.each do |answer|%>
						  
						    
						   	<%= answer.body %>
						   	<hr>

						    

							    <div class="panel panel-default">
							      <div class="panel-heading">
							        <h3 class="panel-title">Comentarios</h3>
							      </div>
							      <div class="panel-body">
							      	<% answer.comments.each do |comment| %>
							        <p><%= comment.body%></p>
							        <hr>
							        <%end%>
							      </div>
							    </div>

							
					

			


									<%= form_for [answer, answer.comments.build] do |f| %>

										<div class="form-group">
										  <%= f.text_area :body, class: "form-control", placeholder: "Escribe tu comentario"%>
										</div>

										<div class="actions text-right">
										 <%= f.submit "Comentar",  class: "btn btn-primary" %>
										 </div>
									<% end %>





						  
						<% end %>

			</div>
			
			
		</div>

	   <div class="row">
	   	<hr>

	   	<%= form_for [@question, @question.answers.build] do |f| %>
						    <div class="form-group">
						      <%= f.text_area :body, class: "form-control", placeholder: "Agregar respuesta" %>
						    </div>

						    <div class="actions text-right">
						      <%= f.submit "responder", class: "btn btn-primary" %>
						    </div>
						  <% end %>
			</div>

	   </div>
			 
			
</div>
