<div class="container">

	<p class="question"><%= @question.title %></p>
	<br>
	
	<div class="row">

		
			<div class="col-md-2 center">

					
					<% if @question.voted_by? current_user %>

					  <%= link_to question_vote_path(@question, @question.votes.take), method: :delete ,class: "vote" do %>
					    
					   <span class="glyphicon glyphicon-triangle-top votedown"></span>
					   
					   
					  <% end %>
					  <p> <%= @question.votes.count %></p>
					
					<% else %>

					<%= link_to question_votes_path(@question), method: :post  ,class: "vote" do %>
					    <span class="glyphicon glyphicon-triangle-top  voteup"></span>
					   
					  <% end %>
					  <p> <%= @question.votes.count %></p>


					<%end%>


					 
			</div>


			<div class="col-md-10">


					<p ><%= @question.body%></p>
					<br>
						
					
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Comentarios</h3>
					  </div>

					  <div class="panel-body">

						<% if (@question.comments.length>0) %>

						    <% @question.comments.each do |comment| %>
								<p class="comments"> <%= comment.body%></p>
								<span class="email">- <%= comment.user.email%> </span>
								<span class="comments"> hace <%= time_ago_in_words comment.created_at %> </span>

								<hr>
							<%end%>
						
						<%else%>

							<p class="comments"> No hay Comentarios </p>
						<%end%>

					  </div>
					</div>



						<%= form_for [@question, @question.comments.build] do |f| %>
								<div class="form-group">
								  <%= f.text_area :body, class: "form-control", placeholder: "Escribe tu comentario"%>
								</div>

								<div class="actions text-right">
								 <%= f.submit "Comentar",  class: "btn btn-primary" %>
								 </div>
						<% end %>


				</div>



			 </div>




			
			<h3><%=@question.answers.length %> Respuesta(s)</h3>
			<hr>



		<div class="row">

		

						<% @question.answers.each do |answer|%>

						<div class="col-md-2 center">

								
								<% if answer.voted_by? current_user %>

								  <%= link_to answer_vote_path(answer, answer.votes.take), method: :delete, class: "vote" do %>
								    <span class="glyphicon glyphicon-triangle-top  votedown"></span>
								   
								  <% end %>
								  <p><%= answer.votes.count %></p>
								
								<% else %>

								<%= link_to answer_votes_path(answer), method: :post, class: "vote" do %>
								    <span class="glyphicon glyphicon-triangle-top  voteup"></span>
								    
								  <% end %>
								  <p><%= answer.votes.count %></p>

								<%end%>

						</div>

						<div class="col-md-10">
						  
						    
						   	<p><%= answer.body %></p>
						   	<span class="email">- <%= answer.user.email%> </span>
						   	<span class="comments"> hace <%= time_ago_in_words answer.created_at %> </span>
						   	<hr>

						    

							    <div class="panel panel-default">
							      <div class="panel-heading">
							        <h3 class="panel-title">Comentarios</h3>
							      </div>
							      <div class="panel-body">

							      	<% if (answer.comments.length>0) %>
								      	<% answer.comments.each do |comment| %>
								        <p class="comments"><%= comment.body%></p>
								        <span class="email">- <%= comment.user.email%> </span>
								        <span class="comments"> hace <%= time_ago_in_words comment.created_at %> </span>
								        <hr>
							        	<%end%>

							        <%else%>

							        	<p class="comments"> No hay Comentarios </p>
							        <%end%>

							      </div>
							    </div>

							
					

			


									<%= form_for [answer, answer.comments.build] do |f| %>

										<div class="form-group">
										  <%= f.text_area :body, class: "form-control", placeholder: "Escribe tu comentario"%>
										</div>

										<div class="actions text-right">
										 <%= f.submit "Comentar",  class: "btn btn-primary" %>
										 </div>
									<% end %>



									<hr>

						  
						

						</div>
			<% end %>
			
			
		</div>

	   <div class="row">
	   	<hr>

	   

	   	<%= form_for [@question, @question.answers.build] do |f| %>


						    <div class="form-group">
						      <%= f.text_area :body, class: "form-control", placeholder: "Agregar respuesta" %>
						    </div>

						    <div class="actions text-right">
						      <%= f.submit "responder", class: "btn btn-primary" %>
						    </div>
						  <% end %>
			</div>

	   </div>
			 
			

